/backend/**/.env
/backend/docker/**/data/**
datareset.sh
.vscode/*
node_modules
.env
**/__pycache__/**
node_modules/*
frontend/node_modules/
/backend/services/rag/model_server/models/
/backend/services/*/bin/
.omo/**
