# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# postgres dashboard
PGADMIN_DEFAULT_EMAIL=nomail@example.com
PGADMIN_DEFAULT_PASSWORD=admin123

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

#Mongo
MONGO_USER=mongoadmin
MONGO_PASSWORD=mongoadmin

# RabbitMQ
RABBIT_USER=rabbitadmin
RABBIT_PASSWORD=rabbitadmin

# Redis
# REDIS_PASSWORD=redisadmin
